# Database Configuration
DATABASE_URL=
POSTGRES_URL=
POSTGRES_PRISMA_URL=
POSTGRES_URL_NON_POOLING=

# Auth Configuration
AUTH_SECRET=

# Admin Initial Account
ADMIN_EMAIL=
ADMIN_PASSWORD=

# App URL
APP_URL=http://localhost:3000

# GitHub Integration
GITHUB_REPO=
GITHUB_TOKEN=

# Cron Job Secret
CRON_SECRET=

# SMTP Configuration
SMTP_HOST=
SMTP_PORT=587
SMTP_USER=
SMTP_PASS=
SMTP_FROM=
SMTP_SECURE=

# System
SKIP_DB_INIT=
DISABLE_HMR=

# WebDAV Storage Pool
WEBDAV_URL=
WEBDAV_USER=
WEBDAV_PASS=
